.carouselWrapper {
  position: relative;
  width: 100%;
  /* height: 100vh; */
  /* overflow: hidden; */
}

.viewport {
  display: flex;
  flex-shrink: 0;
  scroll-snap-align: start;
  position:relative;
    overflow: hidden;
  width: 100%;
  height: 100%;
}

.embla {
  overflow: visible;
}

.emblaContainer {
  display: flex;
  /* align-items: stretch; */
  gap: var(--media-gap);
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.emblaSlide {
  position: relative;
  /* display: flex; */
  flex: 0 0
    calc(
      (100% - (var(--media-columns2) - 1) * var(--media-gap)) /
        var(--media-columns2)
    );
}

.default {
  --media-columns2: 2;
}

@media (min-width: 640px) {
  .default {
    --media-columns2: 3;
  }
}

@media (min-width: 768px) {
  .default {
    --media-columns2:4;
  }
}


@media (min-width: 1024px) {
  .default {
    --media-columns2: 6;
  }
}

@media (min-width: 1536px) {
  .default {
    --media-columns2: 7;
  }
}

.episodes {
  --media-columns2: 2;
}

@media (min-width: 640px) {
  .episodes {
    --media-columns2: 3;
  }
}

@media (min-width: 1024px) {
  .episodes {
    --media-columns2: 4;
  }
}

@media (min-width: 1536px) {
  .episodes {
    --media-columns2: 6;
  }
}