.embla {
  position: relative;
  width: 100%;
  height: 100vh;
}

.viewport {
    overflow: hidden;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  z-index: 10;

  border: none;
  border-radius: 999px;

  cursor: pointer;
  color: white;
}

.prevButton {
  left: 36px;
}

.nextButton {
  right: 36px;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 14px;

  margin-top: -60px;
}

.dot {
  width: 12px;
  height: 12px;

  border: none;
  border-radius: 50%;

  cursor: pointer;

  opacity: 0.5;
  background-color: white;
}

.dotActive {
  opacity: 1;
  transform: scale(1.2);
}