.slide {
  flex: 0 0 100%;
  min-width: 0;
  height: 100%;
  position: relative;
}

/* Smooth image loading effect */
.image {
  object-fit: cover;
  /* transform: scale(1.05); */
  /* filter: blur(10px);
  animation: sharpen 0.8s ease forwards; */
}

@keyframes sharpen {
  to {
    filter: blur(0px);
    transform: scale(1);
  }
}

/* Dark cinematic overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.4),
    transparent
  );
}

/* Content positioning */
.content {
  position: absolute;
  bottom: 15%;
  left: 5%;
  max-width: 600px;
  color: white;
  z-index: 2;
}

/* Title animation */
.title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;

  animation: fadeUp 0.8s ease forwards;
}

.genres{
  font-size: 0.9rem;
  opacity: 0.8;
  margin-bottom: 0.5rem;
  line-height: 1.4;
  color: rgb(208, 207, 207);
  animation: fadeUp 1s ease forwards;
}

.description {
  font-size: 1rem;
  opacity: 0.8;
  margin-bottom: 1.5rem;
  line-height: 1.4;

  animation: fadeUp 1s ease forwards;
}

/* Buttons */
.actions {
  display: flex;
  gap: 1rem;
}

.play {
  background: white;
  color: black;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
}

.more {
  background: rgba(255, 255, 255, 0.2);
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}