@import "tailwindcss";

:root {
  /* Colors */
  --background: #0d0d0d;
  --foreground: #fff;

  /* Typography */
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 2rem;

  /* Media cards */
  --media-card-width: clamp(160px, 16vw, 220px);

  /* Grid */
  --media-columns: 2;
  --media-gap: 20px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (min-width: 640px) {
  :root {
    --media-columns: 3;
  }
}

@media (min-width: 768px) {
  :root {
    --media-columns: 4;

    --text-lg: 1.25rem;
    --text-xl: 1.5rem;
    --text-2xl: 2rem;
    --text-3xl: 3rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --media-columns: 6;
  }
}

@media (min-width: 1280px) {
  :root {
    --text-md: 1.1rem;
    --text-xl: 1.75rem;
    --text-2xl: 2.5rem;
    --text-3xl: 4rem;
  }
}

@media (min-width: 1536px) {
  :root {
    --media-columns: 7;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, system-ui, sans-serif;
}

.text-sm {
  font-size: var(--text-sm);
}

.text-md {
  font-size: var(--text-md);
}

.text-lg {
  font-size: var(--text-lg);
}

.text-xl {
  font-size: var(--text-xl);
}

.text-2xl {
  font-size: var(--text-2xl);
}

.text-3xl {
  font-size: var(--text-3xl);
}