@import "tailwindcss";


/* .header-icon-active {
  --stroke-width: 2;
} */

.header-active {
  --search-stroke-width: 2.5;
  --icon-fill: white;
}


:root {
  /* Colors */
  --background: #0d0d0d;
  --foreground: #fff;
  --overlay: rgba(0, 0, 0, 0.7);
  --card-overlay: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.4) 15%,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.4) 85%,
    rgba(0, 0, 0, 0.7) 100%
  );
  --slide-overlay:  linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8) 30%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.2) 70%,
    transparent 85%);

  /* Typography */
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 2rem;

  /* Media cards */
  --media-card-width: clamp(160px, 16vw, 220px);

  /* Grid */
  --media-columns: 2;
  --media-gap: 10px;

  --color_general_text_high: #fff;
  --color_general_text_low: hsla(0, 0%, 100%, .65);
  --color_general_text_mid: hsla(0, 0%, 100%, .8);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-overlay: var(--overlay);
  
  
  --background-image-card-overlay: var(--card-overlay);
  --background-image-slide-overlay: var(--slide-overlay);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-general-text-high: var(--color_general_text_high);
  --color-general-text-mid: var(--color_general_text_mid);
  --color-general-text-low: var(--color_general_text_low);

  --animate-fade-up: fadeUp 0.8s ease forwards;
  --animate-sharpen: sharpen 0.8s ease forwards;
}

@media (min-width: 640px) {
  :root {
    --media-columns: 3;
  }
}

@media (min-width: 768px) {
  :root {
    --media-columns: 4;

    --text-lg: 1.25rem;
    --text-xl: 1.5rem;
    --text-2xl: 2rem;
    --text-3xl: 3rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --media-columns: 6;
  }
}

@media (min-width: 1280px) {
  :root {
    --text-md: 1.1rem;
    --text-xl: 1.75rem;
    --text-2xl: 2.5rem;
    --text-3xl: 4rem;
  }
}

@media (min-width: 1536px) {
  :root {
    --media-columns: 7;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, system-ui, sans-serif;
}

.text-sm {
  font-size: var(--text-sm);
}

.text-md {
  font-size: var(--text-md);
}

.text-lg {
  font-size: var(--text-lg);
}

.text-xl {
  font-size: var(--text-xl);
}

.text-2xl {
  font-size: var(--text-2xl);
}

.text-3xl {
  font-size: var(--text-3xl);
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes sharpen {
  from {
    filter: blur(10px);
    transform: scale(1.05);
  }

  to {
    filter: blur(0);
    transform: scale(1);
  }
}